<div id="current-user-profile">

  <h1 class="title">My Profile</h1>

  <div>
    <ul id="user-profile" class="list-group">
      <li class="list-group-item">First Name: <b><%= @user.first_name %></b></li>
      <li class="list-group-item">Last Name: <b><%= @user.last_name %></b></li>
      <li class="list-group-item">Role: <b><%= @user.role_name %></b></li>
      <li class="list-group-item">Email: <b><%= @user.email %></b></li>
    </ul>
  </div>

</div>