<h1>My Profile</h1>

<ul>
  <li>First Name: <%= @user.first_name %></li>
  <li>Last Name: <%= @user.last_name %></li>
  <li>Role: <%= @user.role.name %></li>
  <li>Email: <%= @user.email %></li>

</ul>