<h1>Edit Ticket #<%="#{@ticket.id}"%></h1>

<%= render partial: "form", locals: {ticket: @ticket, prev_params_title: @prev_params_title, prev_params_description: @prev_params_description, lead_developers: @lead_developers} %> 