<h1>New Ticket for project # <%= "#{params[:project_id]}"%></h1>

<%= render partial: "form", locals: {ticket: @ticket, lead_developers: @lead_developers, prev_params_title: nil, prev_params_description: nil} %> 