<h1>Projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li>Title: <%=  project.title %></li>
    <li>Project Manager: <%=  project.project_manager.full_name %></li> 
    <li>Lead Developer: <%=  project.lead_developer.full_name %></li>
    <br>
  <% end %>
</ul>