<h1>My Profile</h1>

<ul>
  <li>Title: <%= @project.title %></li>
  <li>Description: <%= @project.description %></li>
  <li>Project manager: <%= @project.project_manager.first_name %></li>
  <li>Lead Developer: <%= @project.lead_developer.first_name%></li>

</ul>