/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: darkseagreen;
  font-family: 'Titillium Web', sans-serif;
}

div#welcome{
  display: flex;
  justify-content: space-between;
}

div.container {
  background-color: white;
  min-height: 720px;
  padding-bottom: 2%;
}

a#contact-me-not-logged {
  margin-left: 85%
}

a#contact-me-logged {
  margin-right: 5%;
}

.title{
  text-align: center;
}

table.table {
  width: fit-content;
  margin: auto;
}

small.add-edit-record {
  text-align: center;
  display: block;
}

p.flash-error {
  color:darkred;
}

p.flash-correct {
  color:darkgreen;
}

div.information-container {
  animation: fadeIn 0.25s;
  -webkit-animation: fadeIn 0.25s;
  -moz-animation: fadeIn 0.25s;
  -o-animation: fadeIn 0.25s;
  -ms-animation: fadeIn 0.25s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
