/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: darkseagreen;
  font-family: 'Titillium Web', sans-serif;
}

div.container {
  background-color: white;
  min-height: 720px;
}

div#bug-main-icon, 
h1.display-5 {
  text-align: center;
}

div.form-container {
  margin: auto;
  max-width: 500px;
}
input.form-control {
  max-width: 500px;
}

p.lead {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title{
  text-align: center;
}
div#current-user-profile div{
  width: fit-content;
  margin: auto;
}
table.table {
  width: fit-content;
  margin: auto;
}

small.add-edit-record {
  text-align: center;
  display: block;
}

p.flash-error {
  color:darkred;
}

p.flash-correct {
  color:darkgreen;
}
