div#ticket-and-comments {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

div#comments-section {
  max-width: 500px;
}

p#ticket-description {
  width: 600px;
}

div#tickets, div#ticket-assignments, div#my-tickets{
  margin-top: 7%;
}

div#assigned-developers, div#ticket-details {
  margin-top: 5%
}